<div class="rt slide-info">
    <a href="" class="btn right rt-1rem rt-15 rt-red rt-bold rt-fff">
      <i class="fa-solid fa-circle-play"></i>
      دانلود و تماشا فیلم
    </a>
  </div>


  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">تازه های مووی مدیا</h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">سریال خارجی</h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">2025</h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">انیمیشن</h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">کمدی ایرانی</h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">ترسناک</h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">راز آلود و معمایی</h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold"> اجتماعی ایرانی </h3>
  </div>
  <div class="title-asli rt">
    <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">به زودی ها</h3>
  </div>