<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">کمدی ایرانی</h3>
</div>
<section class="container">
    <div class="owl__stage">
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/Texas-3.jpg" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>  
      </article>
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/pol-o-party-.jpeg" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>    
      </article>
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/Hotel-540x756.jpg" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>    
      </article>
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/meet-the-witch.png" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>    
      </article>
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/year-of-the-cat.jpg" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>    
      </article>
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/ghif-540x777.jpg" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>  
      </article>
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/gholhak-540x800.jpeg" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>    
      </article>
      <article class="owl__item"> 
        <figure>
          <img src="./assets/images/Jojeh-Tighi-540x765.jpg" alt="" class="gallery">
        </figure>
        <div class="titleGallery">
          
        </div>    
      </article>
      <article class="owl__item" style=  "background-color: aqua;"> 9 </article>
      <article class="owl__item" style=  "background-color: silver;"> 10 </article>
      <article class="owl__item" style=  "background-color: grey;"> 11 </article>
      <article class="owl__item" style=  "background-color: violet;"> 12 </article>
      <article class="owl__item" style=  "background-color: blue;"> 13 </article>
    </div>
  </section>