<div class="title__boxOne">
  <h2 class="title right rt-bold rt-23">جوکر</h2>
</div>
<div class="title__boxTwo">
  <h2 class="title right rt-bold rt-23">هتل</h2>
</div>
<div class="title__boxThree">
  <h2 class="title right rt-bold rt-23">قهوه پدری</h2>
</div>

<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">
    تازه های مووی مدیا
  </h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">سریال خارجی</h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">2025</h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">انیمیشن</h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">کمدی ایرانی</h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">ترسناک</h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">
    راز آلود و معمایی
  </h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">
    اجتماعی ایرانی
  </h3>
</div>
<div class="title-asli rt">
  <h3 class="name right-margin style-plus rt-19 rt-fff rt-bold">به زودی ها</h3>
</div>

<div class="entry">
  <h1>دانلود فیلم و سریال از وب سایت مووی مدیا</h1>
  <div class="entry__entry1">
    <strong> وب سایت مووی مدیا </strong>
    رسانه هنر تصویری ایران که فعالیت های این مجموعه کاملا مطابق با قوانین جمهوری
    اسلامی ایران میباشد چرا که صحنه های غیر اخلاقی و فاقد صحنه های نامناسب
    سانسور شده است و میتوانید به راحتی در کنار خانواده به تماشای فیلم بپردازید.
    از فعالیت های این مجموعه به روز بودن جدیدترین فیلم و سریال های ایرانی و
    خارجی به صورت رایگان و قانونی ، آرشیو کامل و طبقه بندی شده فیلم ها و تکمیلی
    ترین اطلاعات مربوط به تاریخ انتشار و بررسی فیلم و سریال ها اشاره کرد.
  </div>
  <div class="entry__entry2">
    می‌توانید آپ مدیا را به صورت هم‌زمان روی دستگاه مختلف مثل موبایل، تبلت،
    لپ‌تاپ و... تماشا کنید.
  </div>
  <div class="item__rtl">
    <div class="intro__ltr">
      <h4 class="titer rt">کامپیوتر و لپ تاپ</h4>
      <h5 class="brief rt">Windows PC - Mac OS - Linux</h5>
    </div>
  </div>
  <div class="item__rtl">
    <div class="intro__ltr">
      <h4 class="titer rt">موبایل و تبلت</h4>
      <h5 class="brief rt">
        Android Phone & Tablet - Iphone & Ipad - Amazon Fire Tablets
      </h5>
    </div>
  </div>
</div>

<article class="slide">
  <img src="./assets/images/hotel-1524x862.jpg" alt="" />
  <div class="mainUp">
    <div class="slider__into">
      <div class="title-box">
        <h2 class="title">
          <a
            href="https://upmedia.movie/iran-movies/31097/%d9%81%db%8c%d9%84%d9%85-%d9%87%d8%aa%d9%84.html"
            class="download"
            rel="bookmark"
            title="هتل"
            >هتل</a
          >
        </h2>
      </div>
      <div class="rt slide-info">
        <a href="" class="btn">
          <i class="fa-solid fa-circle-play"></i>
          دانلود و تماشا فیلم
        </a>
      </div>
    </div>
  </div>
</article>
<article class="slide">
  <div
    class="slide-cover"
    style="
      background: url(https://upmedia.movie/wp-content/uploads/2024/11/ghahve-pedari-e3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    "
  ></div>
  <div class="mainUp">
    <div class="slider__into">
      <a
        href="https://upmedia.movie/series/31602/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%d9%82%d8%b3%d9%85%d8%aa-11-%d8%b3%d8%b1%db%8c%d8%a7%d9%84-%d9%82%d9%87%d9%88%d9%87-%d9%be%d8%af%d8%b1%db%8c.html"
        class="rt slide-logo"
        title="دانلود قسمت 11 سریال قهوه پدری ❤️"
      >
        <img
          src="./assets/images/ghahve-pedari-e3-1532x862.jpg"
          alt="دانلود قسمت 11 سریال قهوه پدری ❤️"
          class="rt"
        />
      </a>
      <div class="title-box">
        <h2 class="title">
          <a
            href="https://upmedia.movie/series/31602/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%d9%82%d8%b3%d9%85%d8%aa-11-%d8%b3%d8%b1%db%8c%d8%a7%d9%84-%d9%82%d9%87%d9%88%d9%87-%d9%be%d8%af%d8%b1%db%8c.html"
            class="download"
            rel="bookmark"
            title="قسمت 11 قهوه پدری"
            >قسمت 11 قهوه پدری
          </a>
        </h2>
        <span class="badge">جمعه ها</span>
      </div>
      <div class="rt slide-info">
        <a
          href="https://upmedia.movie/series/31602/%d8%af%d8%a7%d9%86%d9%84%d9%88%d8%af-%d9%82%d8%b3%d9%85%d8%aa-11-%d8%b3%d8%b1%db%8c%d8%a7%d9%84-%d9%82%d9%87%d9%88%d9%87-%d9%be%d8%af%d8%b1%db%8c.html"
          class="btn right rt-10px rt-15 rt-red rt-bold rt-fff"
        >
          <i class="fa fa-play rt-18 right"></i>
          دانلود و تماشا فیلم
        </a>
      </div>
    </div>
  </div>
</article>
